<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${toptitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mgcommunity.css">
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<!--navigation including-->
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <br>
            <h4><span th:text="${question.title}"></span></h4>
            <br>
            <span class="viewfontformat">作者 <span th:text="${question.user.name}"></span> |</span>
            <span class="viewfontformat">发布时间 <span
                    th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span> |</span>
            <span class="viewfontformat">阅读数： <span th:text="${question.viewCount}"></span></span>
            <hr>
            <span th:text="${question.content}"></span>
            <hr>
            <span class="label label-warning"><span th:text="${question.tag}"></span></span>
            <hr>
            <a th:href="@{'/publish/'+${question.id}}" th:if="${session.user.id == question.user.id}"><span class="glyphicon glyphicon-pencil"></span><span class="viewfontformat">编辑</span></a>
            <br><br>
            <h5><span th:text="${question.commentCount}"></span>个回复</h5>
            <hr>
            <br><br>
            <div th:if="${session.user != null}">
            <div class="media-left">
                <a href="#"><img class="media-object img-rounded" th:src="${session.user.avatarUrl}"></a>
            </div>
            <div class="media-body">
                <br>
                <span th:text="${session.user.getName()}"></span>
            </div>
            <form action="/dopublish" method="post">
                <div class="form-group">
                    <textarea name="content" id="content" class="form-control" rows="10"
                              th:text="${content}"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-publish">回复</button>
                </div>
            </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <br>
            <h4>发起人</h4>
            <br>
            <div class="media-left">
                <a href="#"><img class="media-object img-circle" th:src="${question.user.avatarUrl}"></a>
            </div>
            <div class="media-body">
                <br>
                <span th:text="${question.user.name}"></span>
            </div>
            <hr>
        </div>

    </div>
</div>

</body>
</html>